<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'sheduler/bootstrap/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'sheduler/bootstrap/dist/bootstrap-table.css' %}"/>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {% block title %} {%endblock%}</title>
   {% block extra_head %}{%endblock%}
</head>
<body>
<script src="{% static 'sheduler/jquery-3.2.0.min.js' %}"></script>
<script src="{% static 'sheduler/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sheduler/bootstrap/dist/bootstrap-table.js' %}"></script>
{% block container %}{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>