
{% extends "sheduler/starter.html" %}
{% block content-header %}
      <h1>
        New Order
        <small>Create new order</small>
      </h1>
{% endblock content-header %}
{% block container %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
              <!-- Horizontal Form -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <a class="btn btn-app pull-left bg-blue" href="/sheduler/index">
                    <i class="fa fa-inbox"></i>Orders List
                  </a>
                  <a id="btn-print" class="btn btn-app bg-blue pull-right">
                    <i class="fa fa-print"></i>Print
                  </a>
                  <a id="btn-delete" class="btn btn-app bg-red pull-right" data-toggle="modal" data-target="#DeleteModal">
                    <i class="fa fa-trash"></i>Delete
                  </a>
                  <a id="btn-save" class="btn btn-app bg-green pull-right" data-toggle="modal" data-target="#SaveModal">
                    <i class="fa fa-check-circle"></i>Save
                  </a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" id="form-order">
                {% csrf_token %}
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputCase" class="col-sm-2 control-label">Case</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="inputCase" placeholder="Num Case">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDoctor" class="col-sm-2 control-label">Doctor</label>
                      <div class="col-sm-4">
                          <select name='listDoctors[]' id="listDoctors" class='selectpicker show-tick form-control' data-live-search='true'>
                          </select>
                      </div>
                      <label for="inputProcedure" class="col-sm-2 control-label">Procedure</label>
                      <div class="col-sm-4">
                          <select name='listProcedures[]' id="listProcedures" class='selectpicker show-tick form-control' data-live-search='true'>
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPatient" class="col-sm-2 control-label">Patient</label>
                      <div class="col-sm-4">
                            <input id="inputPatient" type="text" class="form-control" placeholder="Patient Name">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="datepickerIn" class="col-sm-2 control-label">Date In</label>
                        <div class="col-sm-4 date">
                            <input type="text" class="form-control" id="datepickerIn" placeholder="Date In">
                        </div>
                        <label for="datepickerDue" class="col-sm-2 control-label">Due Date</label>
                        <div class="col-sm-4 date">
                            <input type="text" class="form-control" id="datepickerDue" placeholder="Due Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datepickerOut" class="col-sm-2 control-label">Date Out</label>
                        <div class="col-sm-4 date">
                            <input type="text" class="form-control" id="datepickerOut" placeholder="Date Out">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDescription" class="col-sm-2 control-label">Lab Instructions</label>
                        <div class="col-sm-4">
                              <textarea id="inputDescription" class="form-control" rows="4" placeholder="Enter Instructions ...."></textarea>
                        </div>
                      <label for="inputStation" class="col-sm-2 control-label">Lab Station</label>
                      <div class="col-sm-4">
                          <select name='listStations[]' id="listStations" class='selectpicker show-tick form-control' data-live-search='true'>
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputCost" class="col-sm-2 control-label">Cost</label>
                      <div class="col-sm-4">
                            <input id="inputCost" type="Number" class="form-control" placeholder="Cost">
                      </div>
                      <label for="inputPriority" class="col-sm-2 control-label">Priority</label>
                      <div class="col-sm-2">
                          <select id="valuePriority" class='selectpicker show-tick form-control'>
                            <option value="3">Normal</option>
                            <option value="2">Medium</option>
                            <option value="1">High</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body " -->
                  <div class="box-footer">
                  </div>
                  <!-- /.box-footer -->
                </form>
              </div>
            </div>
        </div>
          <!-- /.row -->
        <!-- Modal -->
        <div class="modal fade " id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
          <div class="modal-dialog modal-sm modal-danger" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteModalLabel">DELETE</h4>
              </div>
              <div class="modal-body">
                 Are You Sure?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline" onclick="return deleteOrder();">Yes, Delete it!!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade " id="SaveModal" tabindex="-1" role="dialog" aria-labelledby="SaveModalLabel">
          <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="SaveModalLabel">Confirmation</h4>
              </div>
              <div class="modal-body">
                 Do you want to save changes?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline" onclick="return saveOrder();">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade " id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
          <div class="modal-dialog modal-sm modal-success" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">Success</h4>
              </div>
              <div class="modal-body">
                 Success !!
              </div>
              <div class="modal-footer">
                  <a class="btn pull-left btn-outline" href="/sheduler/index">OK
                  </a>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock container %}
{% block extra_js %}
    <script type="text/javascript">

        var typeform;
         window.onload = function() {
           onLoadEdtiOrder();
           onLoadFormOrder();
         };
        function onLoadFormOrder() {
          toolDoctorJs.loadDoctors(null);
          toolProcedureJs.loadProcedures(null);
          toolStationJs.loadStations();

          //Date In picker
          $('#datepickerIn').datepicker({
            autoclose: true,
            format: 'MM-dd-yyyy'
          });
          //Date Due
          $('#datepickerDue').datepicker({
            autoclose: true,
            format: 'MM-dd-yyyy'
          });
          //Date Out picker
          $('#datepickerOut').datepicker({
            autoclose: true,
            format: 'MM-dd-yyyy'
          });
          $('#datepickerIn').datepicker('setDate', new Date());


          if(get('fonum')!=null)
          {
            toolOrderJs.readOrder(get('fonum'));
            typeform = 'update';
            document.getElementById("btn-print").href = '/sheduler/printorder/?fonum='+get('fonum');
          }else{
            typeform = 'create';
          }
        }

        $('#form-order').submit(function(){
            if(typeform=='create'){
              toolOrderJs.createOrder();
            }
            else{
              toolOrderJs.updateOrder(get('fonum'));
            }
            window.location = "/sheduler/index/";
        });
        function onLoadEdtiOrder() {
          if(get('fonum')!=null)
          {
            toolOrderJs.readOrder(get('fonum'));
            document.getElementById("btn-print").href = '/sheduler/printorder/?fonum='+get('fonum');
          }
           else{
             document.getElementById("btn-print").className += " disabled";
             document.getElementById("btn-delete").className += " disabled";
          }
        }
        function printOrder()
        {
            toolOrderJs.printOrder(get('fonum'));
        }
        function deleteOrder(){
          toolOrderJs.deleteOrder(get('fonum'));
          // window.location = "/sheduler/index/";
        }
        function saveOrder(){
            if(typeform=='create'){
              toolOrderJs.createOrder();
            }
            else{
              toolOrderJs.updateOrder(get('fonum'));
            }
            // window.location = "/sheduler/index/";
        }
        function get(name){
           if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search));
           if(name != null)
              return decodeURIComponent(name[1]);
           else
            return null;
        }
    </script>
{% endblock extra_js %}