
{% extends "sheduler/base.html" %}
{% block extra_head %}
  <style type="text/css">
     body {
       padding-top: 50px;
     }
     .start-template {
       padding: 40px 15px;
       text-align: center;
     }
  </style>
{% endblock extra_head %}
{% block container %}
<button type="button" class="btn btn-primary">Primary</button>
<div class="btn btn-primary btn-lg active" id="day0" onclick="nextMonth()">Next Month</div>
<a href="/sheduler/orders/order_month?year={{year}}&month=3" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>

  <div class="container">
    <div class="start-template">
      <table id="tabla" data-toggle="table"
        data-classes="table table-hover table-condensed"
        data-row-style="rowStyle"
        data-search="true"
        data-show-columns="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-sort-name="titulo"
        data-sort-order="asc"
        data-url="/sheduler/orders/order_month?year={{year}}&month=3">
          <thead>
            <tr>
              <th data-field="case" data-sortable="true">Case</th>
              <th data-field="doctor" data-sortable="true">Doctor</th>
              <th data-field="patient" data-sortable="true">Patient</th>
              <th data-field="procedure">Procedure</th>
              <th data-field="description">Description</th>
              <th data-field="date_in" data-sortable="true">Date In</th>
              <th data-field="date_out" data-sortable="true">Date Out</th>
            </tr>
          </thead>
       </table>
    </div>
  </div>
{% endblock container %}
{% block extra_js %}
    <script type="text/javascript">
        function nextMonth(){
            console.log('ENTRA');
        }
        function rowStyle(row, index) {
           var celda = row['status'];
           switch(celda) {
               case 'Agotado':
                   return { classes: 'warning'}
                   break;
               case 'Descontinuado':
                   return { classes: 'danger'}
                   break;
               default:
                   return { classes: 'default'}
           }
       };
    </script>
{% endblock extra_js %}